.react-date-picker__wrapper {
	border: none !important;
	border-bottom: thin solid gray !important;
}

.month-picker {
	border: none !important;
	border-radius: 5px !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
