.filter-containers {
	background-color: #f9fafb;
	border-radius: 0.25rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 1.2rem;
	padding-top: 3rem;
	display: grid;
	grid-template: repeat(2, 50px) / repeat(5, 1fr);
	gap: 15px;
	align-items: end;
}

.btn-action {
	justify-self: end;
	grid-column: 4 / 6;
}
